/* ===== Page setup ===== */
body {
    margin: 0;
    padding: 20px;
    font-family: "Georgia", serif;
    background-color: #f5f5f5;
}

/* ===== Main rectangle ===== */
.main-container {
    width: 400px;
    display: grid;
    grid-template-rows: 1fr 40px;   /* top large, bottom narrow */

    background-color: #FFFFFF;
    border-radius: 25px;
    background-color: #33313B;
    
    overflow: hidden;
}

/* ===== Top section (two columns) ===== */
.top-section {
    display: grid;
    grid-template-columns: 2fr 1fr; /* left wider than right */
}

/* ===== Left text area ===== */
.top-left {
    background-color: #3F9AAE;
    padding: 10px;
}

/* ===== Right column (two rows) ===== */
.top-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* ===== Right column cells ===== */
.top-right-upper {
    background-color: #FFE2AF;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}

.top-right-lower {
    background-color: #F96E5B;
    padding: 10px;
}

/* ===== Bottom bar ===== */
.bottom-section {
    background-color: #000000;
    padding: 5px;
    text-align: center;
}